export(interval_bin)
S3method(plot, interval_bin)
export(rect_bin)
S3method(plot, rect_bin)
import(plyr, hexbin)
S3method(plot, density_1d)
S3method(plot, density_2d)
export(dhist_breaks)
export(interval_breaks)
export(sturges_breaks)
export(scott_breaks)
export(fd_breaks)
export(cut_interval)
export(cut_number)
export(kernel_density_1d)
export(kernel_density_2d)
export(local_density_2d)
